@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Neue;
    font-display: swap;
    font-weight: 400;
    src: url(./assets/fonts/NeueHaasDisplay-Roman.woff2);
  }
  @font-face {
    font-family: Neue;
    font-display: swap;
    font-weight: 800;
    src: url(./assets/fonts/NeueHaasDisplay-Mediu.woff2);
  }
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 380ms ease-in;
}

.Underline {
  position: relative;
}

.Underline::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 1px;
  background-color: white;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .Underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}
