@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  @font-face {
    font-family: Neue;
    font-weight: 400;
      src: url(./assets/fonts/NeueHaasDisplay-Roman.woff2);
  }
  @font-face {
    font-family: Neue;
    font-weight: 800;
     src: url(./assets/fonts/NeueHaasDisplay-Mediu.woff2);
  }
}


.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 380ms ease-in;
}
